

<div class="container">

    <div style="display: flex; justify-content: space-between;width: 100%;padding: 0 2rem;">
        <h1>{{title}}</h1>
        <button style="width: 35px; border-radius: 50%; border: none; background-color: gray;">+</button>
    </div>
    

    <input type="text" placeholder="Pesquisar por nome">


    <div *ngIf="!pessoa" class="option">
        <app-options-list (backToPeople)="resetSide()"></app-options-list>
    </div>
    <div *ngIf="pessoa" class="option">
        <app-people-list [peoples]="peoples" (onClicked)="changeSide($event)"></app-people-list>
    </div>
    
</div>
