<ul class="container">
    <li routerLinkActive="active" routerLink="/chat/subject/{{current.id}}">Assuntos</li>
    <li routerLinkActive="active" routerLink="/chat/important/{{current.id}}">Assuntos pendentes</li>
    <li routerLinkActive="active" routerLink="/chat/events/{{current.id}}">Eventos</li>
    <li routerLinkActive="active" routerLink="/chat/history/{{current.id}}">Historias</li>
    <li routerLinkActive="active" routerLink="/chat/likes/{{current.id}}">Gostos</li>
    <li routerLinkActive="active" routerLink="/chat/info/{{current.id}}">Informações</li>
    <li (click)="onClicked()" routerLink="/">&lt;</li>
</ul>
